<div class="modal-header">
  <div class="modal-title">材料</div>
</div>

<button nz-button nzType="primary" (click)="resetMaterial()">从蓝图导入</button>
<button nz-button nzType="primary" (click)="comp()">制造成本计算</button>
<nz-divider></nz-divider>
<nz-table #basicTable [nzData]="listData" [nzFrontPagination]='false' nzSize="small">
  <thead>
    <tr>
      <th>名称</th>
      <th>数量</th>
      <th>吉它卖价</th>
      <!-- <th>吉它买价</th> -->
      <th>金额</th>
      <th>
        <!-- <a href="javascript:void(0)" (click)="getData()">一键拆分</a> -->
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{data.SubItem.name}}</td>
      <td>{{data.input}}</td>
      <td>{{data.SubItem.saleprice | currency }}</td>
      <td>{{data.input*data.SubItem.saleprice | currency }}</td>
      <td>
        <a *ngIf="data.SubItem.blue" href="javascript:void(0)" (click)="splitMaterial(data.id)">继续拆分</a>
      </td>
    </tr>
  </tbody>
</nz-table>

<div class="modal-footer">
  <button nz-button nzType="default" (click)="cancel()">Cancel</button>
  <button nz-button nzType="primary" (click)="ok()">OK</button>
</div>